# Exclude fisiere de sistem
.bash_history
.dotnet/
.vscode/
AppData/
Application Data/
Cookies/
Documents/
Downloads/
Music/
Pictures/
OneDrive/
NTUSER.DAT*
Thumbs.db
desktop.ini

# Exclude directoarele și fișierele generate automat
.vs/
*.log
*.tmp

# Exclude fișiere inutile din Visual Studio
bin/
obj/
